@font-face{
	font-family: leaguegothic;
    src: url(leaguegothic_regular.otf);
}

/*---BG---*/

body{
	background: linear-gradient(#191919, #666);
}

.content, nav, header, form{
	background-image: url("../images/foxtail/foxtail.png");
	background-repeat: repeat;
	background-position: bottom;
}

/*---text---*/

h1{
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 5em;
	text-align: center;
	text-shadow: 3px 3px #a1a1a1;
	height: 30px;
}

.content h2, form h2{
	text-align: left;
	font-size: 3em;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2{
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 2em;
	margin-bottom: 10px;
}

h3{
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 1.75em;
	margin-bottom: 10px;
}

p, li, a, table, form{
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.9em;
}

/*---images---*/

img{
	border: 3px solid #000000;
	padding: 2px;
	box-shadow: 4px 4px #666666;
	border-radius: 3px;
	width: auto;
}

/*---specifics---*/

li{
	line-height: 140%;
}

.ref{
	font-style: italic;
}

#bold{
	font-weight: bold;
}

/*---HEADER---*/

header{
	width: 75%;
	height: 100px;
	margin-left: 10%;
	padding-left: 45px;
}

/*----SIDE----*/

nav{
	width: 15%;
	float: left;
	margin-top: 5px;
	margin-right: 10%;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

#nav_head{
	margin: auto;
}

/*---CONTENT---*/

.content{
	width:60%;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	float: left;
	margin: 5px 5px 0px 10%;
	overflow: auto;
}

.content h3{
	background-image: url("../images/icon.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 35px;
	padding-left: 40px;
}

/*---TABLE---*/

table{
	border: 0px;
	border-collapse: collapse;
}

tr:hover td, tr:hover th, tr:hover .F, tr:hover .M{
	background-color: #252525;
}

th{
	text-transform: uppercase;
	font-size: 1.2em;
}

th, td{
	padding: 5px;
	width: 100px;
	color: #FFF;
	background-color: #898989;
}

td.F, td.M{
	padding-right: 10px;
}

.odd th, .odd td{
	background-color: #636363;
}

.odd .F{
	background-color: #ff6699;
}

.F{
	background-color: #ff99cc;
}

.odd .M{
	background-color: #00aeef;
}

.M{
	background-color: #66ccff;
}

.yr{
	padding-left: 10px;
	padding-right: 10px;
	width: 50px;
	text-align: center;
}

td{
	text-align: right;
}

/*---FORM---*/

form{
	clear: both;
	float: left;
	width:60%;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	margin: 5px 5px 10px 10%;
}

#hours{
	margin-top: 5px;
	margin-bottom: 10px;
}

#hours, .email, #comments, #submitBtn{
	clear: both;
	float: left;
}

label, input, textarea, .gender{
	margin-top: 10px;
	margin-bottom: 10px;
}

label, .email, #comments, #hours, #submitBtn{
	margin-left: 20px;
}

input:hover, input:focus, textarea:hover, textarea:focus{
	background-color: #fff799;
}

#age{
	width: 35px;
}

/*---FOOTER---*/

footer{
	clear: both;
	margin: 10px auto;
	width: 95%;
	padding: 2px;
	text-align: center;
	background-color: #a1a1a1;
}

/*---TOPLINK---*/

#topLink{
	color: #EFEFEF;
}

#topLink:hover{
	color: #999;
}

#topLink:active{
	color: #E20000;
}

/*----anchor----*/

a:link{
	color: #0000ff;
}

a:visited{
	color: #00008e;
}

a:hover{
	color: #ff9900;
}

a:active{
	color: #ffff00;
}