@font-face{
	font-family: leaguegothic;
    src: url(leaguegothic_regular.otf);
}

/*---general---*/

body{
	background-color: #FFFFFF;
}

h2, h3, li, p, a, img{
	margin-left: 50px;
}

/*---text---*/

h1{
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 5em;
	text-align: center;
	text-shadow: 3px 3px #a1a1a1;
	height: 30px;
}

h2{
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 2em;
}

h3{
	font-family: LeagueGothic, Arial, sans-serif;
	font-size: 1.5em;
}

p, li, a{
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.9em;
}

/*---images---*/

img{
	border: 3px solid #000000;
	padding: 2px;
	box-shadow: 4px 4px #666666;
	border-radius: 3px;
}

/*---specifics---*/

li{
	line-height: 140%;
}

#nav_head{
	margin: 110px auto 50px auto;
	text-align: center;
}

#nav{
	text-align: center;
	padding-right: 120px;
	margin-bottom: 50px;
}

#nav li{
	display: inline;
}

#ref{
	font-style: italic;
}

#bold{
	font-weight: bold;
}

#topLink{
	margin-left: 550px;
}

/*----anchor----*/

a:link{
	color: #0000ff;
}

a:visited{
	color: #00008e;
}

a:hover{
	color: #ff9900;
}

a:active{
	color: #ffff00;
}